POSTGRES_DB=pdf_assistant
POSTGRES_USER=pdf_assistant
POSTGRES_PASSWORD=pdf_assistant
POSTGRES_PORT=5432

BACKEND_PORT=8080
FRONTEND_PORT=5173

APP_OLLAMA_BASE_URL=http://host.docker.internal:11434
APP_OLLAMA_CHAT_MODEL=qwen3:8b
APP_OLLAMA_EMBEDDING_MODEL=nomic-embed-text
APP_RAG_EMBEDDING_DIMENSIONS=768
